# Average Funding (Without Replacement)

In [7]:
import pandas as pd

In [31]:
data = pd.read_csv('startup_funding.csv')
data

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
...,...,...,...,...,...,...,...,...,...,...
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [40]:
data['CityLocation'].replace("New Delhi", "Delhi", inplace=True)
data['CityLocation'].replace("bangalore", "Bangalore", inplace = True)
amount = data.loc[((data['CityLocation'] == "Bangalore") | (data['CityLocation'] == "Delhi"), "AmountInUSD")]

In [50]:
amount = amount.str.replace(',', '')
amount

0        1300000
2            NaN
5        1000000
8        8500000
11           NaN
          ...
2190    10000000
2191         NaN
2196     3500000
2197         NaN
2198      400000
Name: AmountInUSD, Length: 1013, dtype: object

In [52]:
amount=pd.to_numeric(amount)
amount

0        1300000.0
2              NaN
5        1000000.0
8        8500000.0
11             NaN
           ...
2190    10000000.0
2191           NaN
2196     3500000.0
2197           NaN
2198      400000.0
Name: AmountInUSD, Length: 1013, dtype: float64

In [83]:
pop_avg = amount.mean()
population = amount
sample_size = 50
sample = population.sample(sample_size, random_state=2)
sample_avg = sample.mean()
print("Population Average : ", pop_avg)
print("Sample Average : ", sample_avg)
print("Sampling Error : ", pop_avg - sample_avg)

Population Average :  18017834.317152105
Sample Average :  17550796.875
Sampling Error :  467037.4421521053

# Average Funding (With Replacement)

In [96]:
import pandas as pd
data2 = pd.read_csv("startup_funding.csv")
data2['CityLocation'].replace("New Delhi", "Delhi", inplace = True)
data2['CityLocation'].replace("bangalore", "Bangalore", inplace = True)
amount2=data.loc[(data2['CityLocation'] == "Bangalore")|(data2['CityLocation'] == "Delhi"), "AmountInUSD"]
amount2 = amount2.str.replace(",", "")
amount2 = pd.to_numeric(amount2)
sample_size2 = 75
population2 = amount2
sample2 = population2.sample(sample_size2)
pop_avg2 = population2.mean()
sample_avg2 = sample2.mean()
print("Populatuion Average : ", pop_avg2)
print("Sample Average : ", sample_avg2 )
print("Sampling Error : ", pop_avg2 - sample_avg2)

Populatuion Average :  18017834.317152105
Sample Average :  3386530.612244898
Sampling Error :  14631303.704907207